.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{
  margin-top: 20px;
  padding: 1px;
}

#content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conta {
  max-width: 470px;
  margin: 112px auto;
  padding: 60px;
  border-radius: 46px;
  box-shadow:-1px 3px 12px #b619bd;
}

.conta h1{
  text-align: center;
  color: white;
  font-size: 2.1rem;
  text-shadow: 2px 2px 11px #f50c0c;
  font-weight: bolder;
}

label {
  display: block;
  font-size: 1.4rem;
  color: white;
  text-shadow: 2px 2px 2px red;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border: 1px solid #ccc;
  margin: 12px 0;
  padding: 5px 17px;
  width: 100%;
  font-size: 19px;
  border-radius: 6px;
}

button {
  background-color: orangered;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  display: block;
  margin: auto;
}

button:hover {
  background-color: red;
  font-size: 14px;
}

.card img{
  height: 200px;
  width: 287px;
}
.my-checkout label{
  /* text-shadow: 2px 2px 2px rgb(88, 184, 131); */
  text-shadow: none;
  color: black;
}